{% extends 'base.html' %}
{%load static%}

{%block title%}Mis Productos | Fashion Line{%endblock%}

{% block main %}

    <!--CUERPO-->
    <!--CUERPO DE PRODUCTOS-->
    <div class="container-fluid m-0 p-0">
        <!--Parte filtro Collapse-->
        {%include "componentes/filtro.html"%}
        <button class="btn btn-info d-inline-block w-100" data-toggle="modal" data-target="#modal-producto" onclick="productAdd('{{sexo}}',{{num}})">Add</button>
        {%include "componentes/sexo.html"%}

        <!--Cards de productos-->
        {%include "componentes/card-producto.html"%}
        {%include "componentes/modal-add-producto.html" %}
        {%include "componentes/modal_del_imgs.html" with img=cliente.getImagen %}
        <!--paginacion-->
        {%include "componentes/paginacion.html" %}

    </div>

{% endblock %}

