{% extends 'base.html' %}
{%load static%}

{%block title%}Mis Pedidos | Fashion Line{%endblock%}

{% block main %}

    <!--CUERPO DE PEDIDOS-->
    <div class="container">
        <div class="row my-4">

            <!--tabla-->
            <div class="table-pedido m-3 p-3">
                <h3>Mis Pedidos</h3>
                <table class="table mt-3">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Importe total</th>
                        <th scope="col">Cantidad total</th>
                        <th scope="col">Situación</th>
                        <th scope="col">Detalle</th>
                    </tr>
                    </thead>
                    <tbody class="table-body" style="font-size: 20px; font-weight: normal;">

                    <tr>
                        <th scope="row"> 1</th>
                        <td>fecha</td>
                        <td>11,99 €</td>
                        <td>1</td>
                        <td>en progreso</td>
                        <td><a href="/user/orders_detail/1" class="link-pedido"><i class="bi bi-patch-exclamation"></i></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
