{% extends 'base.html' %}
{%load static%}

{%block title%}Detalle del Proveedor | Fashion Line{%endblock%}

{% block main %}
    {%include "componentes/navigation.html"%}

    <!--CUERPO DE AGENDA-->
    <div class="container-fluid m-0 p-0">
        <div class="container mt-4">
            <div class="agenda-div">
                <div class="row">
                    <div class="col-3 hr-vertical text-center">
                        <img class="user_perfil_detalle" src="{{cliente.icon}}" alt="perfil">
                        <p>{{cliente.nombre|capfirst}}</p>
                        <span><a href="message_chat/1"><button class="boton-producto mt-4 mx-1">Contactar</button></a></span>
                    </div>

                    <div class="col-9 px-5 py-3">
                        <h3>{{cliente.nombre|capfirst}} {{cliente.apellidos|capfirst}}</h3>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p>Email: {{cliente.email|capfirst}}</p>
                                <p>Teléfono: {{cliente.telefono}}</p>
                            </div>
                            <div class="col">
                                <p>Localidad: {{direccion.calle|capfirst}}, {{direccion.localidad|capfirst}}-{{direccion.provincia|capfirst}}, {{direccion.pais|capfirst}}</p>
                                <p>Categoria: {{categoria.idcategoria.categoria|capfirst}}</p>
                            </div>
                        </div>
                        <hr>

                        <!--Slider foto-->
                        {%include "componentes/slider.html"%}

                        <hr>
                        <div class="row mt-2">
                            <h3>Descripcion</h3>
                            <p>*************</p>
                        </div>
                        <hr>
                        <div class="row mt-2">
                            {%if 'diseñadores' in categoria.idcategoria.categoria%}
                            <h3>Mis diseños</h3>
                            <!---Cards-->
                            {%include "componentes/card-diseno.html" with imagenes=imgd productos=disenos%}
                            <a href="/disign/{{cliente.id}}/mujer/1" class="mb-5"><span><button class="boton-producto">Ver más</button></span></a>
                            {%endif%}

                            <h3>Mis productos</h3>
                            <!---Cards-->
                            {%include "componentes/card-producto.html" with imagenes=imgp%}
                            <a href="/product/{{cliente.id}}/mujer/1"><span><button class="boton-producto">Ver más</button></span></a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


    {%include "componentes/footer.html" %}
{% endblock %}


