{% extends 'base.html' %}
{%load static%}

{%block title%}Detalle del Proveedor | Fashion Line{%endblock%}

{% block main %}

    <!--CUERPO DE AGENDA-->
    <div class="container-fluid m-0 p-0">
        <div class="container mt-4">
            <div class="agenda-div">
                <div class="row">
                    <div class="col-3 hr-vertical text-center">
                        <img class="user_perfil_detalle" src="{{cliente.icon}}" alt="perfil">
                        <p>{{cliente.nombre|capfirst}}</p>
                        <span><a href="/message_chat/{{cliente.idusuario.id}}"><button class="boton-producto mt-4 mx-1">Contactar</button></a></span>
                    </div>

                    <div class="col-9 px-5 py-3">
                        <h3>{{cliente.nombre|capfirst}} {{cliente.apellidos|capfirst}}  {{cliente.empresa|capfirst}}</h3>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p>Email: {{cliente.email|capfirst}}</p>
                                <p>Teléfono: {{cliente.telefono}}</p>
                            </div>
                            <div class="col">
                                <p>Localidad: {{direccion.calle|capfirst}}, {{direccion.localidad|capfirst}}-{{direccion.provincia|capfirst}}, {{direccion.pais|capfirst}}</p>
                                <p>Categoria: {%for c in categoria%}{{c.idcategoria.categoria|capfirst}} | {%endfor%}</p>

                            </div>
                        </div>
                        <hr>

                        <!--Slider foto-->
                        {%include "componentes/slider.html"%}

                        <hr>
                        <div class="row mt-2">
                            <h3>Descripcion</h3>
                            <p>{{cliente.descripcion}}}</p>
                        </div>
                        <hr>
                        <div class="row mt-2">
                            {%for c in categoria%}
                            {%if c.idcategoria.categoria == 'diseñadores'%}
                                <h3>Mis diseños</h3>
                                <!---Cards-->
                                {%include "componentes/card-diseno.html" with imagenes=imgd productos=disenos%}
                                <a href="/disigncli/{{cliente.id}}/mujer/1" class="mb-5"><span><button class="boton-producto">Ver más</button></span></a>
                            {%endif%}
                            {%endfor%}

                            <h3>Mis productos</h3>
                            <!---Cards-->
                            {%include "componentes/card-producto.html" with imagenes=imgp%}
                            <a href="/productcli/{{cliente.id}}/mujer/1"><span><button class="boton-producto">Ver más</button></span></a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}


