{% extends 'base.html' %}
{%load static%}

{%block title%}Detalle del Diseño | Fashion Line{%endblock%}

{% block main %}
    {%include "componentes/navigation.html"%}

    <!--DETALL DE UN PRODUCTO-->
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-lg-6 col-md">
                <!--slider con fotos-->
                {%include 'componentes/slider.html' with slider=producto.getImagen%}
            </div>
            <div class="col-lg-6 col-md pl-5">
                <!--detalles-->
                <h3>{{producto.nombre|capfirst}}</h3>
                <br>
                <h5>Precio: {{producto.precio}} €</h5>
                <div class="mt-5">
                    <h5>Color:</h5>
                    <div>
                        {%for c in producto.getColor%}
                        <span><button class="boton-color" id="{{c.id}}" style="background-color: {{c.color}}"></button> </span>
                        {%endfor%}
                    </div>
                </div>
                <div class="mt-5">
                    <h5>Tamaño:</h5>
                    <div>
                        {%for t in producto.getTalla%}
                        <span><button class="boton-talla" id="{{t.id}}">{{t.talla}}</button></span>
                        {%endfor%}
                    </div>
                </div>
                <div class="text-center">
                    <p class="mt-5 text-danger">¿Te gusta el diseño? Pincha LIKE!</p>
                    <a href="">
                        <i class="bi bi-suit-heart dis-like" aria-hidden="true"></i>
                    </a>
                </div>

                <p class="mt-5 text-danger">¿Necesitas más información? Habla con diseñador/a!</p>
                <a href="/message_chat/1"><button class="boton-producto">Contactarnos</button></a>
            </div>
        </div>

        {%include 'componentes/parte-detalle.html'%}
    </div>

    {%include "componentes/footer.html" %}
{% endblock %}

