{% extends 'base.html' %}
{%load static%}

{%block title%}Diseños | Fashion Line{%endblock%}

{% block main %}
    {%include "componentes/navigation.html"%}

    <!--CUERPO-->
    <!--CUERPO DE PRODUCTOS-->
    <div class="container-fluid m-0 p-0">

        <!--Parte filtro Collapse-->
        {%include "componentes/filtro.html"%}
        <!--Cards de productos-->
        {%include "componentes/card-diseno.html"%}

        <!--paginacion-->
        {%include "componentes/paginacion.html" %}

    </div>

    {%include "componentes/footer.html" %}
{% endblock %}
