{% extends 'base.html' %}
{%load static%}

{%block title%}Fashion Line{%endblock%}

{%block capa%}onload = "SliderCapa()"{%endblock%}

{% block main %}
    {%include "componentes/slider.html"%}

    <!--trozo explicaciones-->
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-7 col-md-12 text-center ">
                <a href="/disign/mujer/1"><img class="foto" src="/static/home_diseno.jpg" alt="img"></a>
            </div>
            <div class="col-lg-5 col-md-12 text-center trozoContenido">
                <a href="/disign/mujer/1" class="btn p-5"  >
                    <h2>Encuentra tus diseños</h2>
                    <p>Busca tus diseños!</p>
                    <p>Comunica con los diseñadores!</p>
                    <p>Compra los diseños!</p>
                </a>
            </div>
        </div>
        <hr>
        <div class="row my-5">
            <div class="col-lg-5 col-md-12  text-center trozoContenido">
                <a href="/product/mujer/1" class="btn p-5">
                    <h2>Compra tus productos</h2>
                    <p>Busca tus favoritos!</p>
                    <p>Comunica con los provedores!</p>
                    <p>Compra ya!</p>
                </a>
            </div>
            <div class="col-lg-7 col-md-12 text-center">
                <a href="/product/mujer/1"><img class="foto" src="{%static 'home_producto.jpg'%}" alt="img"></a>
            </div>
        </div>
        <hr>
        <div class="row my-5">
            <div class="col-lg-7 col-md-12 text-center ">
                <a href="/contact/1"><img class="foto" src="/static/home_agenda.jpg" alt="img"></a>
            </div>
            <div class="col-lg-5 col-md-12 text-center trozoContenido">
                <a href="/contact/1" class="btn p-5">
                    <h2>Agenda de contactos</h2>
                    <p>Busca en esta agenda!</p>
                    <p>Comunica con los provedores!</p>
                    <p>Empieza tu negocio!</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

