{% extends 'base.html' %}
{%load static%}

{%block title%}Chat Mensajeria | Fashion Line{%endblock%}

{% block main %}

    <!--CUERPO DE CHAT-->
    <div class="container-fluid">
        <div class="container mt-4 mensaje-div">
            <div class="row w-75 m-auto py-3">

                <!--fila de mensaje-->
                <div class="container mt-4">
                    <div class="card .agenda-card mb-4">
                        <div class="row">
                            <div class="col-2 text-center my-2 mx-2  hr-vertical">
                                <img class="user_perfil" src="/static/user_icon.svg" alt="perfil">
                            </div>
                            <div class="col-8 pt-3 pl-3">
                                <h5>Nombre</h5>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item iframe-producto" src="8.productoDetalle.html"
                                            allowfullscreen></iframe>
                                </div>
                                <p>Queria hacer pregunta sobre este producto</p>
                            </div>
                            <p class="chat-tiempo">tiempo</p>
                        </div>
                    </div>
                </div>

                <!--box donde escribe mensaje-->
                <br>
                <hr>
                <br>
                <div class="row mt-3 pr-0">
                    <form action="" class="">
                        <textarea class="form-control manda-mensaje" name="mensaje" id="mensaje"></textarea>
                        <button class="boton-producto w-25 my-1">Enviar</button>
                        <a class="archivo-mensaje ml-1" href="">Subir archivo</a>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

