{% extends 'base.html' %}
{%load static%}

{%block title%}Productos | Fashion Line{%endblock%}

{% block main %}

    <!--CUERPO-->
    <!--CUERPO DE PRODUCTOS-->
    <div class="container-fluid m-0 p-0">
        <!--Parte filtro Collapse-->
        {%include "componentes/filtro.html"%}
        {%include "componentes/sexo.html"%}
        <!--Cards de productos-->
        {%include "componentes/card-producto.html"%}

        <!--paginacion-->
        {%include "componentes/paginacion.html" %}

    </div>

{% endblock %}
