{% extends 'base.html' %}
{%load static%}
{%load mytags%}

{%block title%}Detalle del Producto | Fashion Line{%endblock%}

{% block main %}

    <!--DETALL DE UN PRODUCTO-->
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-lg-6 col-md">
                <!--slider con fotos-->
                {%include 'componentes/slider.html' with slider=producto.getImagen%}
            </div>
            <div class="col-lg-6 col-md pl-5">
                <!--detalles-->
                <h3>{{producto.nombre|capfirst}}</h3>
                <br>
                <h5>Precio: {{producto.precio}} €</h5>
                {%if producto.oferta != 0%}
                <h3>Precio actual: {{producto.precioactual}} €</h3>
                {%endif%}

                <form action="/cart/compra/{{producto.id}} " method="post" >
                    {% csrf_token %}
                    <div class="mt-5">
                        <h5>Color:</h5>
                        <div>
                            {%for c in producto.getColor%}
                            <span><input type="button" class="boton-color" id="color{{forloop.counter0}}" style="background-color: {{c.color}}"
                            onclick="coloron({{forloop.counter0}},{{totalcolor}},'{{c.color}}')"></span>
                            {%endfor%}
                            <input type="text"  name="cl" id="cl" hidden>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h5>Tamaño:</h5>
                        <div>
                           {%for t in producto.getTalla%}
                            <span><input type="button" class="boton-talla" id="talla{{forloop.counter0}}"
                            onclick="tallaon({{forloop.counter0}},{{total}},'{{t.talla}}')" value={{t.talla}}></span>
                            {%endfor%}
                            <input  type="text"  name="tl" id="tl"  hidden>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h5>Cantidad</h5>
                        <div>
                            <input type="button" class="btn btn-success num-minu" onclick="restar()" value="-">
                            <input class="cantidad" type="number" min="0" name="cantidad" id="cantidad" value="1">
                            <input type="button" class="btn btn-success num-add" onclick="sumar()" value="+">
                        </div>
                    </div>
                    <a href="/cart/{{idcesta.id}}"><button type="submit" class="boton-producto mt-5">Añadir a la cesta</button></a>
                </form>


                <p class="mt-5 text-danger">¿Necesitas más ayuda?</p>
                <a href="/message_chat/{{producto.idusuario.id}}/{{misala.idsala.id}}"><button class="boton-producto">Contactarnos</button></a>
            </div>
        </div>

        {%include 'componentes/parte-detalle.html'%}
    </div>

{% endblock %}

