{% extends 'base.html' %}
{%load static%}

{%block title%}Detalle del Producto | Fashion Line{%endblock%}

{% block main %}
    {%include "componentes/navigation.html"%}

    <!--DETALL DE UN PRODUCTO-->
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-lg-6 col-md">
                <!--slider con fotos-->
                {%include 'componentes/slider.html'%}
            </div>
            <div class="col-lg-6 col-md pl-5">
                <!--detalles-->
                <h3>{{producto.nombre}}</h3>
                <br>
                <h5>Precio: {{producto.precio}} €</h5>
                {%if producto.oferta%}
                <h3>Precio actual: {{producto.precioactual}} €</h3>
                {%endif%}
                <div class="mt-5">
                    <h5>Color:<span>blanco</span></h5>
                    <div>
                        <span><button class="boton-color"></button> </span>

                    </div>
                </div>
                <div class="mt-5">
                    <h5>Tamaño</h5>
                    <div>
                        <span><button class="boton-talla">M</button></span>
                    </div>
                </div>
                <div class="mt-5">
                    <h5>Cantidad</h5>
                    <div>
                        <button class="btn btn-success num-minu"> -</button>
                        <input class="cantidad" type="number" name="cantidad" id="cantidad">
                        <button class="btn btn-success num-add"> +</button>
                    </div>
                </div>
                <span><button class="boton-producto mt-5">Añadir a la cesta</button></span>
                <p class="mt-5 text-danger">¿Necesitas más ayuda?</p>
                <span><button class="boton-producto">Contactarnos</button></span>
            </div>
        </div>

        {%include 'componentes/parte-detalle.html'%}
    </div>

    {%include "componentes/footer.html" %}
{% endblock %}

