{% extends 'base.html' %}
{%load static%}

{%block title%}Search | Fashion Line{%endblock%}

{% block main %}

    <!--CUERPO-->
    <!--CUERPO DE SEARCH-->
    <div class="container-fluid m-0 p-0">
        <!--Parte filtro Collapse-->
        {%include "componentes/filtro.html"%}
        {%include "componentes/sexo.html"%}
        <!--Cards de productos, disenos, agendas-->
        <h3 class="mt-2 ml-5">Productos</h3>
        {%include "componentes/card-producto.html" %}
        <hr>
        <h3 class="mt-2 ml-5">Diseños</h3>
        {%include "componentes/card-diseno.html" with productos=disenos  imagenes=dimg%}


        <!--paginacion-->
        {%include "componentes/paginacion.html"  with productos=disenos %}

    </div>

{% endblock %}
