{% extends 'base.html' %}
{%load static%}

{%block title%}Change Password | Fashion Line{%endblock%}

{% block main %}
    {%include "componentes/navigation.html"%}

    <!--CHANGE KEY-->
    <div class="container mt-5">
        <h1 class="text-center mb-5">CAMBIAR CONTRASEÑA</h1>
        <form class="loginform">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Repite Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword2">
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>

    {%include "componentes/footer.html" %}
{% endblock %}

