{%load static%}

<div class="container mt-4">
{% for p in productos %}
<div class="card .agenda-card mb-4">
    <a class="agenda-card-link" href="/message_chat/{{p.id}}">
        <div class="row">
            <div class="col-2 text-center my-2">
                <img class="user_perfil" src="/static/user_icon.svg" alt="perfil">
            </div>
            <div class="col-8 pt-3 pl-3">
                <h3>{{name_usuario}}</h3>
                <p>Ultimo mensaje</p>
            </div>
            <div class="col-2 mt-2">
                <p class="chat-tiempo-ultimo">1 semana, 5 horas</p>
            </div>
        </div>
    </a>
</div>
{%endfor%}
</div>
