{%load static%}
<!--Parte filtro Collapse-->
<div class="filtrodiv" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
     aria-controls="collapseExample">
    <img class="filtroimg" src="{% static 'imagenes/collapse.png'%}" alt="">
</div>
<form method="post" id="filtro" onsubmit="filtrar('{{tip}}','{{sexo}}')" style="margin-block-end: 0em;">
    {% csrf_token %}
<div class="collapse" id="collapseExample">
    <div class="card card-body  collapse-filtro">
        <div class="container-fluid row">
            <div class="col m-3">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle dropdown-color " href="#" role="button"
                       id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Color
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="divcolor">
                        {%for c in color%}
                        <p><input class="mx-2" type="checkbox" name="{{c.id}}" id="{{c.id}}" value="{{c.id}}">{{c.nombre|capfirst}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle dropdown-color" href="#" role="button"
                       id="dropdownMenuLink1"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Talla
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1" x-placement="bottom-start" id="divtalla">
                        {%for t in talla%}
                        <p><input class="mx-2" type="checkbox" name="{{t.talla}}" id="{{t.talla}}" value="{{t.talla}}">{{t.talla|capfirst}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle dropdown-color" href="#" role="button"
                       id="dropdownMenuLink3"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Valoración
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink3" id="divval">
                        {%for v in valoracion%}
                        <p><input class="mx-2" type="checkbox" name="v{{v.valoracion}}" id="v{{v.valoracion}}" value="{{v.valoracion}}">{{v.nombre|capfirst}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle dropdown-color" href="#" role="button"
                       id="dropdownMenuLink2"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categoria
                    </a>
                    <div class="dropdown-menu filtro-menu" aria-labelledby="dropdownMenuLink2" id="divcad">
                        {%for g in tipo%}
                            {%if g.tipo != 'usuarios'%}
                            <div class="dropdown-divider"></div>
                            <p>&nbsp;
                               <b>{{g.tipo|capfirst}}</b>
                                <div class="dropdown-divider"></div>
                                {%for cat in categorias%}
                                {%if cat.idtipocad == g%}
                                <p>
                                    <input class="mx-2" type="checkbox" name="ca{{cat.id}}" id="cad{{cat.id}}" value="{{cat.id}}">
                                    {{cat.categoria|capfirst}}
                                </p>
                                {%endif%}
                                {%endfor%}
                            </p>
                            {%endif%}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="d-inline m-3">
                <strong>Precio:</strong>
                <label for="min-precio">Min</label>
                <input class="mx-2" type="number" name="min-precio" id="min-precio"> €
                 /
                <label for="max-precio">Max</label>
                <input class="mx-2" type="number" name="max-precio" id="max-precio"> €
            </div>

            <input type="submit" class="btn filtrar-btn" value="Filtrar" >
        </div>
    </div>
</div>
</form>
</div>