  <!--Footer-->
  <footer class="footer mt-5">
    <br>
    <br>
    <div class="container">
        <div class="footer__main">
            <div class="footer__container">
                <!-- PRIMERA COLUMNA -->
                <div class="footer__column">
                    <h3 class="footer__title-column my-3">INFORMACIONES</h3>
                    <ul class="footer__column-items">
                        <li class="footer__column-item">
                          Devoluciones y Cambios
                        </li>
                        <li class="footer__column-item">
                          Formas de Pago y Recibos
                        </li>
                        <li class="footer__column-item">
                          Politica del web
                        </li>
                    </ul>
                </div>
                <!-- SEGUNDA COLUMNA -->
                <div class="footer__column">
                    <h3 class="footer__title-column my-3">SOBRE NOSOTROS</h3>
                    <ul class="footer__column-items">
                        <li class="footer__column-item">
                          ¿Quién somos?
                        </li>
                        <li class="footer__column-item">
                          ¿Necesitas ayuda?
                        </li>
                    </ul>
                </div>
                <!-- TERCERA COLUMNA -->
                <div class="footer__column">
                    <h3 class="footer__title-column my-3">CONTACTOS</h3>
                    <ul class="footer__column-items">
                        <li class="footer__column-item">
                          Email: nievealas@gmail.com
                        </li>
                        <li class="footer__column-item">
                          Teléfono: +34666666666
                        </li>
                        <li class="footer__column-item">
                          Instagram:
                        </li>
                        <li class="footer__column-item">
                          Facebook:
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="text-center mb-3">
              © 2022 FASHION LINE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AUTOR: BIANXUE WU
            </div>
        </div>
    </div>
</footer>