<!-- Modal direccion-->
<div class="modal fade" id="modal-user-dir" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dirección</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body m-1">
                <form action="">
                    Calle:
                    <input class="form-control" type="text" id="dir">
                    Provincia:
                    <input class="form-control" type="text" id="Provincia">
                    Pais:
                    <input class="form-control" type="text" id="Pais">
                    CP:
                    <input class="form-control" type="number" id="cp">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>