<!--Container descripcion e valoracion de productos o disenos-->
<div class="container ">
            <hr>
            <!--descripciones de productos-->
            <div class="row my-3">
                <div class="col-3">
                    <a class="detalle-link" href="">Descripción</a>
                    <a class="detalle-link" href="">Envío y Devolución</a>
                </div>
                <div class="col-9 pl-5">
                    <p>Contenido</p>
                </div>
            </div>

            <hr>
            <!--Valoraciones-->
            <div class="row my-3">
                <div class="col-lg-5 col-md-12">
                    <h5>Valoración</h5>
                    <form>
                        <p class="clasificacion">
                            <input id="radio1" class="input-estrella" type="radio" name="estrellas" value="5"><!--
                  --><label class="estrella" for="radio1">★</label><!--
                  --><input id="radio2" class="input-estrella" type="radio" name="estrellas" value="4"><!--
                  --><label class="estrella" for="radio2">★</label><!--
                  --><input id="radio3" class="input-estrella" type="radio" name="estrellas" value="3"><!--
                  --><label class="estrella" for="radio3">★</label><!--
                  --><input id="radio4" class="input-estrella" type="radio" name="estrellas" value="2"><!--
                  --><label class="estrella" for="radio4">★</label><!--
                  --><input id="radio5" class="input-estrella" type="radio" name="estrellas" value="1"><!--
                  --><label class="estrella" for="radio5">★</label>
                        </p>
                        <input class="btn btn-success ml-5 mt-3" type="submit" value="Valorar">
                    </form>
                </div>
                <div class="col-lg-7 col-md pl-5">
                    <div class="common-reviews__averate">
                        <div class="common-reviews__averate-item">
                            <div class="name"><h5>Valoración media</h5></div>
                            <div class="common-rate text-center">
                                <p class="clasificacion">
                                    <input id="radio1" class="input-estrella" type="radio" name="estrellas" value="5"><!--
                        --><label class="estrella" for="radio1">★</label><!--
                        --><input id="radio2" class="input-estrella" type="radio" name="estrellas" value="4"><!--
                        --><label class="estrella" for="radio2">★</label><!--
                        --><input id="radio3" class="input-estrella" type="radio" name="estrellas" value="3"><!--
                        --><label class="estrella" for="radio3">★</label><!--
                        --><input id="radio4" class="input-estrella" type="radio" name="estrellas" value="2"><!--
                        --><label class="estrella" for="radio4">★</label><!--
                        --><input id="radio5" class="input-estrella" type="radio" name="estrellas" value="1"><!--
                        --><label class="estrella" for="radio5">★</label>
                                </p>
                                <p class="valoracion-media">4.88</p>
                            </div>
                        </div>
                        <div class="common-reviews__averate-item mb-5">
                            <div class="fit-item">
                                <span class="fit-name">Excelente</span>
                                <div class="common-reviews__progress">
                                    <div class="progress-bar">
                                    </div>
                                </div>
                                <span>4%</span>
                            </div>
                            <div class="fit-item">
                                <span class="fit-name">bien</span>
                                <div class="common-reviews__progress">
                                    <div class="progress-bar">
                                    </div>
                                </div>
                                <span>95%</span>
                            </div>
                            <div class="fit-item">
                                <span class="fit-name">mal</span>
                                <div class="common-reviews__progress">
                                    <div class="progress-bar">
                                    </div>
                                </div>
                                <span>1%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>