<!--Container descripcion e valoracion de productos o disenos-->
{% load mytags %}

<div class="container ">
            <hr>
            <!--descripciones de productos-->
            <div class="row my-3">
                <div class="col-3">
                    <a class="detalle-link" onclick="clickDescrip()">Descripción</a>
                    <a class="detalle-link" onclick="clickDevolu()">Envío y Devolución</a>
                </div>
                <div class="col-9 pl-5 descripcion" style="display: block;">
                    <h5>{{producto.idusuario.idclientes.getCategoria|singular|capfirst}}: {{producto.idusuario.idclientes.nombre|capfirst}}</h5>
                    <p>{{producto.descripcion}}</p>
                    <br>
                    <p>Referencia: {{producto.referencia}}</p>
                </div>
                <div class="col-9 pl-5 devolucion" style="display: none;">
                    <pre>

                    <b>ENVÍO ESTÁNDAR</b>    PLAZO SEGÚN DÍAS LABORABLES: 2-7
                                             GASTOS: Gratuita

                    <b>ENVÍO EXPRESS</b>      PLAZO SEGÚN DÍAS LABORABLES: 1-2
                                              GASTOS: 25,00 €

                    <b>DEVOLUCIÓN</b>         30 días para devolver tu pedido

                    </pre>
                </div>
            </div>

            <hr>
            <!--Valoraciones-->
            <div class="row my-3">
                <div class="col-lg-5 col-md-12">
                    <h5>Valoración</h5>
                    <form  action="{{request.get_full_path}}" method="post">
                        {% csrf_token %}
                        <p class="clasificacion">
                          <input id="radio1" class="input-estrella" type="radio" name="estrellas" value="5">
                          <label class="estrella" for="radio1">★</label>
                          <input id="radio2" class="input-estrella" type="radio" name="estrellas" value="4">
                          <label class="estrella" for="radio2">★</label>
                          <input id="radio3" class="input-estrella" type="radio" name="estrellas" value="3">
                          <label class="estrella" for="radio3">★</label>
                          <input id="radio4" class="input-estrella" type="radio" name="estrellas" value="2">
                          <label class="estrella" for="radio4">★</label>
                          <input id="radio5" class="input-estrella" type="radio" name="estrellas" value="1">
                         <label class="estrella" for="radio5">★</label>
                        </p>
                        <input class="btn btn-success ml-5 mt-3" type="submit" value="Valorar">
                    </form>
                </div>
                <div class="col-lg-7 col-md pl-5">
                    <div class="common-reviews__averate">
                        <div class="common-reviews__averate-item">
                            <div class="name"><h5>Valoración media: {{valorado}} valoraciones</h5></div>
                            <div class="common-rate text-center" >
                                <p class="clasificacion">
                                    <label class="estrell" id="estrella5">★</label>
                                    <label class="estrell" id="estrella4">★</label>
                                    <label class="estrell" id="estrella3">★</label>
                                    <label class="estrell" id="estrella2">★</label>
                                    <label class="estrell" id="estrella1">★</label>
                                </p>
                                <p class="valoracion-media" >{{media}}</p>
                            </div>
                        </div>
                        <div class="common-reviews__averate-item mb-5">
                            {%for key, l in listvalora.items%}
                            <div class="fit-item">
                                <span class="fit-name">{{key|capfirst}}</span>
                                <div class="common-reviews__progress">
                                    <div class="progress-bar" style="width: {{l}}%">
                                    </div>
                                </div>
                                <span>{{l}}%</span>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>

        </div>