<!-- Modal PRODUCT-->
<div class="modal fade" id="modal-producto" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Producto</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body m-1">
                <form action="" method="post" id="edit-producto" enctype="multipart/form-data">
                    {% csrf_token %}

                    Imagenes: <br>
                    <input class="w-50 text-center my-3" type="file" name="images" multiple>
                    <br>
                    Nombre:
                    <input class="form-control" type="text" id="nombre" name="nombre">
                    Precio:
                    <input class="form-control" type="number" name="precio" id="precio"  placeholder="0.00" step="0.01"  required>
                    Coste:
                    <input class="form-control" type="number" name="coste" id="coste"  placeholder="0.00" step="0.01" value="0" required>
                    Oferta:
                    <input class="form-control" type="number" name="oferta" id="oferta" placeholder="0.00" step="0.01" value="0" required oninput="calPrecio(oferta.value)">
                    Precio actual:
                    <input class="form-control" type="number" name="pactual" id="pactual"  placeholder="0.00" value="0" required step="0.01">
                    Iva:
                    <input class="form-control" type="number" name="iva" id="iva" placeholder="0.00" value="0.21" step="0.01">
                    Descripción:
                    <textarea class="form-control" type="text" id="descripcion" name="descripcion"></textarea>
                    Referencia:
                    <input class="form-control" type="text" id="referencia" name="referencia">
                    Cantidad:
                    <input class="form-control" type="number" name="cantidad" id="cantidad"  value="0"  placeholder="0">

                    Sexo:
                    <select class="w-100 " name="sex" id="sex">
                        {%for x in sexos%}
                        <option value="{{x.tipo}}">{{x.tipo}}</option>
                        {%endfor%}
                    </select>
                    Categorias:
                    <select class="w-100 " name="categoriass" id="categorias">
                        {%for ca in categorias%}
                        <option value="{{ca.categoria}}">{{ca.categoria}}</option>
                        {%endfor%}
                    </select>

                    Colores:
                    <select class="w-100 " name="color" id="colores" multiple="multiple">
                        {%for c in color%}
                        <option value="{{c.color}}" style="background-color: {{c.color}}">{{c.nombre}}</option>
                        {%endfor%}
                    </select>
                    Tallas:
                    <select class="w-100 " name="talla" id="tallas" multiple="multiple">
                        {%for t in talla%}
                        <option value="{{t.talla}}">{{t.talla}}</option>
                        {%endfor%}
                    </select>
                    Estados:
                    <select class="w-100 " name="estado" id="estados">
                        <option value="en venta">En venta</option>
                        <option value="agotado">Agotado</option>
                    </select>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
